body{
	margin:1%;
	padding:1%;
	font-size:150%;
	background-color: #ffffff;
	color: #1898E2;
	color: #093592;

	
}

color block

p{
	line-height: 1.5;
}
main{
	line-height: 1.5;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 100%;
}

h1{
	font-weight: bold;
	color: #093592;
	font-family: impact;
	line-height: 100px;
	font-size: 40px;
	animation: move 5s ease;
	grid-column: 2;
	justify-self: center;

}
a{
	color: #093592;
	text-decoration: none;

}


.skip{
	color: #1898E2;
	line-height: 1.5;
	position: absolute;

}
nav li{
	padding:5px;
	display: inline-block;
	width: 20%;
	text-align: center;
	font-family: Bookman;
	font-size: 20px;
	border: 2px #093592 solid;


}
ul{
	background:#ffffff;
	border-radius: 10px ;
}

.active{
	background:#ffffff;
	color:#6b77c0;
	text-decoration: underline;
}
.active a:visited{
	color: #9a9fe1; 
	text-decoration:none;
}



img{
    height: auto;
    width: 200px;
    border: 3px solid #000;
	padding: 1px;
    margin: 10px;
	border-radius: 15px;
	
}

.navbar{
	position: sticky;
	top: 1 ;
}

h2{
	font-size: 2em; 
	color: #093592;
	font-family: bungee;
	position: sticky;
	top: 0;
	background: #ffffff;
	grid-column: 1/ span 3;
	text-align: center;
	width: 100%;


}



p, h1, h2 {
    padding: 10px;
	
}

.grid{
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	justify-content: space-around;
	align-items: center;

}


@keyframes move{
    from {width: 475px; opacity:0;}
    to {width:475px; opacity: 1;}
}

intro{
	grid-column:1/span 3;
	padding: 10px;

}

#israelimages,
#italyimages,
#sloveniaimages,
#chechimages,
#franceimages,
#aboutme{
	grid-column: 2;
	max-width: 100%;
	justify-items:center;


}


.para{
	color: #6158ad;
	border:5px solid #9a9fe1;
	border-radius: 10px;
	grid-column: 1/span 3;
	
}


#contact{
	text-decoration: underline;
}

.form{
	font-size: 15px;
	display: block;
}

.usa{
	display:flex;
	flex-flow: column wrap;
	align-items: center;
}


footer{
	background-image: url('../images/calimount.jpeg');

}


@media screen and (min-width: 900px){
	.grid{
		display: inline
	}
	
}
