body{
	margin:1%;
	padding:1%;
	font-size:150%;
	background-color: #eed4c1;
	color: #1898E2;
	color: #093592;
	
}

*{
	font-family: Didot;
}

p{
	line-height: 1.5;
}
main{
	line-height: 1.5;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
h1{
	font-size: 2em; 
	font-weight: bold;
	color: #093592;
	font-family: impact;
	line-height: 100px;
}
a{
	color: #afd2fa;
	text-decoration: none;

}


.skip{
	color: #1898E2;
	line-height: 1.5;
}
nav li{
	background-color: #093592; 
	padding:5px;
	display: inline-block;
	width: 20%;
	border-radius: 20px;
	text-align: center;
	font-family: Bookman;
	font-size: 20px;

}
ul{
	background:#093592;
	border-radius: 10px ;
}
.active{
	background:#093592;
	color:#6b77c0;
	text-decoration: underline;
}
.active a:visited{
	color: #9a9fe2; 
	text-decoration:none;
}

a:hover{
	color: #afd2fa;
}


img{
    height: auto;
    width: 200px;
    border: 3px solid #000000;
	padding: 1px;
    margin: 10px;
	border-radius: 15px;
	
}

img:hover{
	transform: scale(1.5);
	border: 3px solid #000000;

}

.navbar{
	position: sticky;
	top: 1 ;
}

#israelheading,
#italyheading,
#sloveniaheading,
#chechheading,
#franceheading{
	display:inline-block;
	position: sticky;
	top: 0;
	grid-column: 2;
	background: #eed4c1;
}

h2{
	font-size: 2em; 
	color: #093592;
	font-family: Didot;
}

p, h1, h2 {
    padding: 10px;
}

.grid{
	display:grid; 
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 1/ span 1;
	justify-content: space-evenly;

}

#israel,
#italy,
#slovenia,
#chech,
#france{
	grid-column: 1/ span 3;

}

#israelheading,
#italyheading,
#sloveniaheading,
#chechheading,
#franceheading{
	grid-column: 1/span 1;
}

intro{
	grid-column:1/span 3;
}

#israelimages,
#italyimages,
#sloveniaimages,
#chechimages,
#franceimages{
	grid-column: 1/span 3;
	max-width: 100%;

}


.para{
	background-image: url('../images/calimount.jpeg');
	color: #ffffff;
	border:5px solid #b7d6e9;
	border-radius: 10px;
}


@media screen and (min-width: 900px){
	.grid{
		display:grid; 
		grid-template-columns: 25% 25% 1fr;
		grid-column: 1/ span 2;
		justify-content: space-evenly;
	}
	
}
